<p id="notice"><%= notice %></p>

<p>
  <strong>Product:</strong>
  <%= @line.product %>
</p>

<p>
  <strong>Cart:</strong>
  <%= @line.cart %>
</p>

<%= link_to 'Edit', edit_line_path(@line) %> |
<%= link_to 'Back', lines_path %>
