<h1>Catalog page</h1>
<% @products.each do |product| %>
<% if product== @current_product %>
<div id="current_product" %>
<% else %>
<div>
<% end %> 
<div class="prod">
<div class="image">
<%= link_to(image_tag(product.image_url, class: 'list_image'),products_path)%>
</div>
<div class="title">
  <h3><%= product.title %></h3>
  <%= product.description %>
  </div>
  <div>
  <span class="price"><%= number_to_currency(product.price) %>
  <%= button_to 'Add to cart',lines_path(product_id:product),
  remote: true%>	
  </span>
  </div>
  </div>
  </div>
  <br>
 <% end %> 