<!DOCTYPE html>
<html>
  <head>
    <title>Depot</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <div class="store">
   <div id="banner">
    <%= image_tag '#',alt:'The Pragmatic Bookshelf'  %>
   </div>
   <div id="columns">
    <div id="side">
    <%if @cart %>
    <div id ="cart" 
          <% if @cart.lines.empty? %>
           style="display: none"
           <%end%>
    >

      <%= render @cart %>
    </div>
    <%end%>
     <ul>
      <li><a href="#">Home</a></li>
      <li><a href="#">Questions</a></li>
      <li><a href="#">News</a></li>
      <li><a href="#">Contact</a></li>
     </ul>
    </div>
    <div id="main"> 
     <% flash.each do |message_type,message|%>
<div class="alert alert-<%=message_type%>"><%=message %></div>
<%end%>
    <%= yield %>
    </div>
   </div> 
   </div>
  </body>
</html>
